<div class="customer-dialog-container">

  <div class="dialog-header">
    <h2 class="dialog-title">{{ isEdit ? 'Edit Customer' : 'Add Customer' }}</h2>
    
    <div class="actions-header">
      <button mat-flat-button class="save-btn" (click)="onSave()" [disabled]="loading">
        <mat-icon *ngIf="!loading">save</mat-icon> 
        <mat-spinner *ngIf="loading" diameter="18"></mat-spinner>
        <span>{{ isEdit ? 'UPDATE' : 'SAVE' }}</span>
      </button>

      <button mat-stroked-button class="cancel-btn" (click)="cancel()">
        <mat-icon>close</mat-icon> <span>CANCEL</span>
      </button>
    </div>
  </div>

  <form [formGroup]="customerForm">

    <div class="grid">

      <mat-form-field appearance="outline">
        <mat-label>Customer Name</mat-label>
        <input matInput formControlName="customerName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Customer Type</mat-label>
        <mat-select formControlName="customerType">
          <mat-option [value]="null">Customer Type</mat-option>
          <mat-option value="Retail">Retail</mat-option>
          <mat-option value="Wholesale">Wholesale</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>GST Number</mat-label>
        <input matInput formControlName="gst">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Credit Limit</mat-label>
        <input matInput type="number" formControlName="creditLimit">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Billing Address</mat-label>
        <textarea matInput rows="2" formControlName="billingAddress"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Shipping Address</mat-label>
        <textarea matInput rows="2" formControlName="shippingAddress"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="customerStatus">
           <mat-option [value]="null">Select</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

    </div>



  </form>

</div>
