<div class="confirm-dialog-container">
    <h2 mat-dialog-title>
        {{ data.title || 'Confirm Action' }}
    </h2>

    <mat-dialog-content>
        <p [innerHTML]="data.message"></p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button (click)="cancel()">
            {{ data.cancelText || 'Cancel' }}
        </button>

        <button mat-flat-button [color]="data.confirmColor || 'primary'" (click)="confirm()">
            {{ data.confirmText || 'Yes' }}
        </button>
    </mat-dialog-actions>
</div>