<div class="dialog-header">
  <h2 mat-dialog-title>Reject Purchase Order</h2>
  <button mat-icon-button (click)="onCancel()" class="close-icon">
    <mat-icon>close</mat-icon>
  </button>
</div>
    <mat-dialog-content>
      <p>Please provide a reason for rejecting PO No: <strong>{{data.poNo}}</strong>:</p>
      
      <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <textarea 
          matInput 
          [(ngModel)]="rejectReason" 
          name="reason" 
          rows="4" 
          placeholder="Please enter reason here..." 
          required>
        </textarea>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="padding-bottom: 20px;">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button 
        mat-flat-button 
        class="confirm-btn"
        [disabled]="!rejectReason || rejectReason.trim().length < 3" 
        (click)="onConfirm()">
        Confirm Reject
      </button>
    </mat-dialog-actions>